*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3em;
}
.grid{
    width: 400px;
    height: 800px;
    display: grid;
    background-image: ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 12fr 1fr 1fr;
    grid-auto-rows: 0px;
}
.grid>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid>div>*{
    margin:0;
}
.header{
    background-color: black;
    color: white;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    grid-area: 1 / 1 / span 1 / span 2;
}
.header>h1{
    font-weight: bolder;
}
.header>h4{
    font-weight: lighter;
}
.qrcode{
    grid-area: 2 / 1 / span 1 / span 2;
}
.qrcode>img{
    width: 350px;
    height: 350px;
}
.ticketprice{
    grid-area: 4 / 1 / span 1 / span 2;
}
.info{
    visibility: hidden;
}
.ticketprice, .date, .admit{
    border: 2px solid black;
    margin: -1px;
}