*{
    box-sizing: border-box;
}
body{
    font-family: 'VT323', monospace;
    text-align: center;
}
#adimg{
    max-width: 250px;
}
.wrapper{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffc06.deviantart.net%2Ffs71%2Ff%2F2010%2F254%2F3%2F7%2Fpokedex_wallpaper_v1_by_bugbyte-d2yii0o.png&f=1&nofb=1");
    background-repeat: no-repeat;
    width: 320px;
    height: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pokemonDisplay{
    background-color: greenyellow;
    margin: 0em 4em 0em 4em;
    border-radius: 1em;
    border: 3px solid darkslategrey;
    padding-top: 1em;
}
#todo{
    font-size: 1.2em;
    margin-top: 15px;
}
#name{
    margin-bottom: 10px;
}
#weather{
    font-size: 2.2em;
    color: greenyellow;
    margin-top: 50px;
    padding-top: 0;
}
